* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.template {
  display: none;
}

.wrapper {
  width: 80%;
  margin: 30px auto;
}

label {
  font-weight: bold;
}

#list_element {
  margin-left: 20px;
}


h2, ul {
  margin-top: 50px;
}
